.main-containt {
    opacity: 0;
    transition: opacity 0.6s;
}

.welcome_text h1 {
    font-size: var(--medium);
    color: var(--orange);
}

.name_text h1 {
    font-size: var(--large);
    color: var(--violet);
}

.tagline {
    position: relative;
}

.tagline h1 {
    font-size: var(--small);
    color: var(--orange);
    text-align: left;
}